/* =======================
   Module/Loader
   ======================= */
.loader-wrapper {
  text-align: center;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50vh;
  left: 50vw;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid $color1;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
