/* =======================
   Module/Logo
   ======================= */

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 3.2vw;
  min-width: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.logo-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6em;
  white-space: nowrap;
}
