/* =======================
   Layout/Search
   ======================= */

.l-search-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

.l-search-input {
  align-self: center;
}

.l-search {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: baseline;
}

.l-search-box {
  margin: 10px 0;
  font-family: $font1;
  text-align: left;
  flex: 1 100%;
}

.l-search-avatar {
  width: 4vw;
  min-width: 40px;
  border-radius: 50px;
}

.l-search-link-text {
  margin-top: 10px;
  margin-left: 5vw;
}

.l-search-avatar,
.l-search-link-text {
  float: left;
}

.l-search-box a {
  color: $color1;
}

.l-search-box a:hover {
  color: $color3;
}

.l-search-resultados {
  font-family: $font1;
  font-size: 0.9em;
  margin-top: 10px;
}

.l-search-noresults {
  font-family: $font1;
  font-size: 0.9em;
}

.l-search-page {
  text-align: right;
  margin: 15px;
}
